<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	
	<bean id="WordMaster" class="com.egangotri.monierWilliams.dao.vo.WordMaster">
	</bean>
	
	<bean id="ClickLogMaster" class="com.egangotri.monierWilliams.dao.vo.ClickLogMaster">
	</bean>
	
	<bean id="MainClass" class="com.egangotri.monierWilliams.dao.vo.main.MainClass">
	<property name="service">
	<ref bean="DictionaryService"/>
	</property>
	</bean>
	
	<bean id="XMLConverter" class="com.egangotri.monierWilliams.dao.vo.main.XMLConverter">
	</bean>
	
	<bean id="DictionaryDAOSupport" class="com.egangotri.monierWilliams.dao.DictionaryDAOSupport">
	<property name="sessionFactory">
	<ref bean="sessionFac"/>
	</property>
	</bean>
	
	<bean id="DictionaryService" class="com.egangotri.monierWilliams.service.DictionaryService">
		<property name="dictionaryDAO">
	<ref bean="DictionaryDAOSupport"/>
	</property>
	</bean>
	
	<bean id="sessionFac" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	
	<property name="mappingResources">    
	<list>      
		<value>com/egangotri/vo/WordMaster.hbm.xml</value>
		<value>com/egangotri/vo/ClickLogMaster.hbm.xml</value>
	  </list>  
	  </property>
	  
	  <property name="dataSource">
			<ref bean="dataSrc"/>
		</property>
	  
	  	<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">15</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
			</props>
		</property>
	</bean>
	
	<bean id="dataSrc" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
          <property name="driverClassName">
            <value>org.apache.derby.jdbc.EmbeddedDriver</value>
          </property>
          <property name="url">
            <value>jdbc:derby:C:\sts\ws\MWDictionary\src\db\MW_DICTIONARY</value>
          </property>
          <property name="username">
            <value></value>
          </property>
          <property name="password">
            <value></value>
          </property>
          <property name="maxActive">
            <value>20</value>
          </property>
          <property name="removeAbandoned">
            <value>true</value>
          </property>
        </bean>
        
		</beans>
